[submodule "homeassistant"]
	path = homeassistant
	url = https://github.com/PedroLamas/home-assistant-config.git
[submodule "zigbee2mqtt/zigbee-herdsman-converters"]
	path = zigbee2mqtt/zigbee-herdsman-converters
	url = https://github.com/Koenkk/zigbee-herdsman-converters.git
