services:
  adguardhome:
    image: adguard/adguardhome
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.3
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "784:784"
      - "853:853"
    volumes:
      - "./adguardhome/work:/opt/adguardhome/work"
      - "./adguardhome/conf:/opt/adguardhome/conf"
    env_file:
      - ./common.env

  nginx:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
      homeassistant:
        condition: service_started
        restart: false
      grafana:
        condition: service_started
        restart: false
      portainer:
        condition: service_started
        restart: false
      esphome:
        condition: service_started
        restart: false
      vscode:
        condition: service_started
        restart: false
      fluidd:
        condition: service_started
        restart: false
      mainsail:
        condition: service_started
        restart: false
      spoolman:
        condition: service_started
        restart: false
      ultrafeeder:
        condition: service_started
        restart: false
      flightradar24:
        condition: service_started
        restart: false
    image: nginx
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.4
    ports:
      - "80:80"
      - "443:443/tcp"
      - "443:443/udp"
      - "21443:21443/tcp"
      - "21443:21443/udp"
    extra_hosts:
      - "homeassistant:host-gateway"
      - "esphome:host-gateway"
    volumes:
      - "./nginx/etc-nginx-templates:/etc/nginx/templates"
      - "./nginx/etc-nginx-cf-certs:/etc/nginx/cf-certs"
      - "./nginx/etc-nginx-le-certs:/etc/nginx/le-certs"
    env_file:
      - ./common.env
      - ./nginx/secrets.env
    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
    dns: 10.0.0.3
    labels:
      - sh.acme.target

  homeassistant:
    depends_on:
      - mariadb
      - mosquitto
    image: ghcr.io/home-assistant/home-assistant
    restart: unless-stopped
    healthcheck:
      test: >-
        curl -f http://localhost:8123 || exit 1
    network_mode: host
    volumes:
      - "./homeassistant/config:/config"
      - "/mnt/media/TV:/media/tv:ro"
      - "/mnt/media/Movies:/media/movies:ro"
    env_file:
      - ./common.env
    environment:
      - PYTHONWARNINGS=ignore:Unverified HTTPS request
    dns: 10.0.0.3

  mosquitto:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: eclipse-mosquitto
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.6
    ports:
      - "1883:1883"
      - "1884:1884"
      - "9001:9001"
    volumes:
      - "./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf"
      - "./mosquitto/data:/mosquitto/data"
      - "./mosquitto/config/password_file:/mosquitto/config/password_file"
    env_file:
      - ./common.env
    dns: 10.0.0.3

  zigbee2mqtt:
    depends_on:
      - mosquitto
    image: koenkk/zigbee2mqtt
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.7
    volumes:
      - "./zigbee2mqtt/data:/app/data"
      # - "./zigbee2mqtt/zigbee-herdsman-converters:/app/node_modules/zigbee-herdsman-converters"
      # - "./zigbee2mqtt/homeassistant-extension/homeassistant.js:/app/lib/extension/homeassistant.js"
    devices:
      - "/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0:/dev/ttyUSB0"
    # environment:
    #   - DEBUG=zigbee-herdsman*
    env_file:
      - ./common.env
    dns: 10.0.0.3

  telegraf:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: telegraf
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.8
    volumes:
      - "./telegraf/config/telegraf.conf:/etc/telegraf/telegraf.conf:ro"
      - "/:/hostfs:ro"
    env_file:
      - ./common.env
      - ./telegraf/secrets.env
    environment:
      - HOST_MOUNT_PREFIX=/hostfs
      - HOST_ETC=/hostfs/etc
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
      - HOST_VAR=/hostfs/var
      - HOST_RUN=/hostfs/run
    dns: 10.0.0.3

  mariadb:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: mariadb
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.9
    volumes:
      - "./mariadb/config:/etc/mysql/conf.d"
      - "./mariadb/data:/var/lib/mysql"
    env_file:
      - ./common.env
      - ./mariadb/secrets.env
    dns: 10.0.0.3

  grafana:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: grafana/grafana
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.10
    volumes:
      - "./grafana/data:/var/lib/grafana"
    env_file:
      - ./common.env
    user: "1000:1000"
    dns: 10.0.0.3

  portainer:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: portainer/portainer-ce
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.11
    volumes:
      - "./portainer/data:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    env_file:
      - ./common.env
    dns: 10.0.0.3

  esphome:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: ghcr.io/esphome/esphome
    restart: unless-stopped
    network_mode: host
    volumes:
      - "./esphome/config:/config"
    env_file:
      - ./common.env
    dns: 10.0.0.3

  acme.sh:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: neilpang/acme.sh
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.13
    volumes:
      - "./acme.sh/data:/acme.sh"
      - "/var/run/docker.sock:/var/run/docker.sock"
    env_file:
      - ./common.env
      - ./acme.sh/secrets.env
    environment:
      - DEPLOY_DOCKER_CONTAINER_LABEL=sh.acme.target
      - DEPLOY_DOCKER_CONTAINER_KEY_FILE=/etc/nginx/le-certs/key.pem
      - DEPLOY_DOCKER_CONTAINER_CERT_FILE="/etc/nginx/le-certs/cert.pem"
      - DEPLOY_DOCKER_CONTAINER_CA_FILE="/etc/nginx/le-certs/ca.pem"
      - DEPLOY_DOCKER_CONTAINER_FULLCHAIN_FILE="/etc/nginx/le-certs/full.pem"
      - DEPLOY_DOCKER_CONTAINER_RELOAD_CMD="service nginx force-reload"
    command: >-
      daemon
    dns: 10.0.0.3

  vscode:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: codercom/code-server
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.14
    volumes:
      - "./vscode/data:/home/coder/.local/share/code-server"
      - "./:/home/coder/project"
    env_file:
      - ./common.env
      - ./vscode/secrets.env
    command: >-
      --auth none --disable-telemetry project
    dns: 10.0.0.3

  fluidd:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: ghcr.io/fluidd-core/fluidd:latest-develop
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.16
    env_file:
      - ./common.env
    dns: 10.0.0.3

  mainsail:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: ghcr.io/pedrolamas/docker-mainsail:latest-dev
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.17
    env_file:
      - ./common.env
    dns: 10.0.0.3

  ultrafeeder:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: ghcr.io/sdr-enthusiasts/docker-adsb-ultrafeeder
    restart: unless-stopped
    device_cgroup_rules:
      - "c 189:* rwm"
    networks:
      backbone:
        ipv4_address: 10.0.0.18
    ports:
      - 30005:30005
    volumes:
      - "./ultrafeeder/globe_history:/var/globe_history"
      - "./ultrafeeder/graphs1090:/var/lib/collectd"
      - "/proc/diskstats:/proc/diskstats:ro"
      - "/dev/bus/usb:/dev/bus/usb"
    env_file:
      - ./common.env
      - ./ultrafeeder/secrets.env
    environment:
      - LOGLEVEL=error
      - READSB_DEVICE_TYPE=rtlsdr
      - READSB_GAIN=auto
    dns: 10.0.0.3
    tmpfs:
      - /run:exec,size=256M
      - /tmp:size=128M
      - /var/log:size=32M

  flightradar24:
    depends_on:
      - ultrafeeder
    image: ghcr.io/sdr-enthusiasts/docker-flightradar24
    restart: unless-stopped
    tty: true
    networks:
      backbone:
        ipv4_address: 10.0.0.19
    env_file:
      - ./common.env
      - ./flightradar24/secrets.env
    dns: 10.0.0.3
    tmpfs:
      - /var/log:size=32M

  opensky:
    depends_on:
      - ultrafeeder
    image: ghcr.io/sdr-enthusiasts/docker-opensky-network
    restart: unless-stopped
    tty: true
    networks:
      backbone:
        ipv4_address: 10.0.0.20
    env_file:
      - ./common.env
      - ./opensky/secrets.env
    dns: 10.0.0.3
    tmpfs:
      - /var/log:size=32M

  spoolman:
    depends_on:
      adguardhome:
        condition: service_started
        restart: false
    image: ghcr.io/donkie/spoolman
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.21
    volumes:
      - "./spoolman/data:/home/app/.local/share/spoolman"
    env_file:
      - ./common.env

  wireguard:
    image: linuxserver/wireguard
    restart: unless-stopped
    networks:
      backbone:
        ipv4_address: 10.0.0.15
    volumes:
      - "./wireguard/config:/config"
      - "/lib/modules:/lib/modules:ro"
    env_file:
      - ./common.env
      - ./common-linuxserver.env
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1

  transmission:
    depends_on:
      - wireguard
    image: linuxserver/transmission
    restart: unless-stopped
    network_mode: service:wireguard
    volumes:
      - "./transmission/config:/config"
      - "../downloads:/downloads"
    env_file:
      - ./common.env
      - ./common-linuxserver.env

  jackett:
    depends_on:
      - wireguard
    image: linuxserver/jackett
    restart: unless-stopped
    network_mode: service:wireguard
    volumes:
      - "./jackett/config:/config"
      - "../downloads:/downloads"
    env_file:
      - ./common.env
      - ./common-linuxserver.env
    environment:
      - AUTO_UPDATE=true

  sonarr:
    depends_on:
      - wireguard
    image: linuxserver/sonarr
    restart: unless-stopped
    network_mode: service:wireguard
    volumes:
      - "./sonarr/config:/config"
      - "../downloads:/downloads"
      - "/mnt/media/TV:/tv"
    env_file:
      - ./common.env
      - ./common-linuxserver.env

  radarr:
    depends_on:
      - wireguard
    image: linuxserver/radarr
    restart: unless-stopped
    network_mode: service:wireguard
    volumes:
      - "./radarr/config:/config"
      - "../downloads:/downloads"
      - "/mnt/media/Movies:/movies"
    env_file:
      - ./common.env
      - ./common-linuxserver.env

  flaresolverr:
    depends_on:
      - wireguard
    image: flaresolverr/flaresolverr
    restart: unless-stopped
    network_mode: service:wireguard
    env_file:
      - ./common.env

networks:
  backbone:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: backbone
    ipam:
      config:
        - subnet: 10.0.0.0/27
